In [1]:
import pandas as pd
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns

import tensorflow as tf

In [11]:
df = pd.read_csv("data_sample1.csv")

In [13]:
df.head()

,transaction,platform,country_name,journey_id,channel_id,timestamp,timestamp_conversion,s
0,0,mobileWeb,United Kingdom,7,1,3741.032245,NaN,1
1,0,mobileWeb,Spain,9,3,4045.731999,NaN,1
2,0,mobileWeb,France,13,1,5325.234126,NaN,1
3,0,desktop,Spain,15,1,931.549306,NaN,1
4,0,desktop,Spain,38,3,2990.420876,NaN,1

In [14]:
df['time_diff'] = df['timestamp_conversion']-df['timestamp']

In [17]:
df[df['time_diff']<0] ##All observations where there's a touchpoint after conversion... 34 rows will be ignored

,transaction,platform,country_name,journey_id,channel_id,timestamp,timestamp_conversion,s,time_diff
9564,1,android,Germany,141909,6,5059.231789,5059.130278,1,-0.101511
67236,1,android,Russia,1087921,11,5651.570887,5651.568333,1,-0.002553
94167,1,android,Morocco,1510896,6,4620.550119,4620.509722,1,-0.040397
94534,1,android,Argentina,1514509,6,5353.457879,5353.413056,1,-0.044823
147631,1,android,Israel,2353219,6,3734.558201,3734.493889,1,-0.064312
249822,1,android,Germany,141909,11,5059.282115,5059.130278,1,-0.151837
261735,1,android,South Africa,3831461,11,4882.131187,4882.084167,1,-0.047021
356417,1,ios,Cambodia,2634426,3,1328.453941,1328.450556,1,-0.003386
358682,1,android,Austria,4981254,11,2943.411687,2943.410000,1,-0.001687
462168,1,android,Brazil,6047136,6,5426.905565,5426.612222,1,-0.293343
470492,1,android,United States,2335857,11,3084.361033,3084.335000,1,-0.026033
472078,1,android,Chile,6139088,11,6195.443755,6195.435000,1,-0.008755
538674,1,android,Spain,6823373,6,2401.876414,2401.831111,1,-0.045303
594627,1,android,Argentina,1514509,6,5353.457637,5353.413056,1,-0.044582
636261,1,android,United States,2335857,11,3084.360896,3084.335000,1,-0.025896
842463,1,android,Brazil,6047136,6,5426.903532,5426.612222,1,-0.291309
842876,1,android,Spain,6823373,6,2401.876395,2401.831111,1,-0.045284
843124,1,android,Brazil,6047136,6,5426.897252,5426.612222,1,-0.285030
868140,1,android,United States,2630357,11,4322.679252,4322.674167,1,-0.005085
869655,1,android,Canada,1361741,9,3017.984663,3015.525833,1,-2.458829
931121,1,android,Chile,6139088,11,6195.443758,6195.435000,1,-0.008758
939434,1,android,Canada,1361741,11,3017.984753,3015.525833,1,-2.458919
1025591,1,android,Morocco,1510896,6,4620.550082,4620.509722,1,-0.040360
1026242,1,android,South Africa,3831461,11,4882.131022,4882.084167,1,-0.046855
1027415,1,android,United States,148139,6,4550.180708,4550.150556,1,-0.030152
1185735,1,android,Netherlands,2342927,6,6070.594615,6070.586389,1,-0.008226
1213081,1,ios,United States,4458098,3,4895.135779,4895.128889,1,-0.006890
1234136,1,android,Germany,141909,6,5059.298570,5059.130278,1,-0.168292
1234605,1,android,United States,148139,6,4550.175545,4550.150556,1,-0.024990
1278728,1,android,Israel,2353219,6,3734.558230,3734.493889,1,-0.064341
1454085,1,android,United States,2630357,6,4322.721782,4322.674167,1,-0.047615
1464223,1,android,Germany,3831427,9,3257.500062,3257.482222,1,-0.017840
1581238,1,ios,Germany,1360139,3,6255.017831,6254.144444,1,-0.873386
1737799,1,android,Poland,137811,11,4029.156188,4029.151944,1,-0.004243

In [18]:
df=df[df['time_diff']>=0 or df['time_diff']== 'NaN']

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [10]:
df

,transaction,platform,country_name,journey_id,channel_id,timestamp,timestamp_conversion,s,time_diff
9564,1,android,Germany,141909,6,5059.231789,5059.130278,1,-0.101511
67236,1,android,Russia,1087921,11,5651.570887,5651.568333,1,-0.002553
94167,1,android,Morocco,1510896,6,4620.550119,4620.509722,1,-0.040397
94534,1,android,Argentina,1514509,6,5353.457879,5353.413056,1,-0.044823
147631,1,android,Israel,2353219,6,3734.558201,3734.493889,1,-0.064312
249822,1,android,Germany,141909,11,5059.282115,5059.130278,1,-0.151837
261735,1,android,South Africa,3831461,11,4882.131187,4882.084167,1,-0.047021
356417,1,ios,Cambodia,2634426,3,1328.453941,1328.450556,1,-0.003386
358682,1,android,Austria,4981254,11,2943.411687,2943.410000,1,-0.001687
462168,1,android,Brazil,6047136,6,5426.905565,5426.612222,1,-0.293343
470492,1,android,United States,2335857,11,3084.361033,3084.335000,1,-0.026033
472078,1,android,Chile,6139088,11,6195.443755,6195.435000,1,-0.008755
538674,1,android,Spain,6823373,6,2401.876414,2401.831111,1,-0.045303
594627,1,android,Argentina,1514509,6,5353.457637,5353.413056,1,-0.044582
636261,1,android,United States,2335857,11,3084.360896,3084.335000,1,-0.025896
842463,1,android,Brazil,6047136,6,5426.903532,5426.612222,1,-0.291309
842876,1,android,Spain,6823373,6,2401.876395,2401.831111,1,-0.045284
843124,1,android,Brazil,6047136,6,5426.897252,5426.612222,1,-0.285030
868140,1,android,United States,2630357,11,4322.679252,4322.674167,1,-0.005085
869655,1,android,Canada,1361741,9,3017.984663,3015.525833,1,-2.458829
931121,1,android,Chile,6139088,11,6195.443758,6195.435000,1,-0.008758
939434,1,android,Canada,1361741,11,3017.984753,3015.525833,1,-2.458919
1025591,1,android,Morocco,1510896,6,4620.550082,4620.509722,1,-0.040360
1026242,1,android,South Africa,3831461,11,4882.131022,4882.084167,1,-0.046855
1027415,1,android,United States,148139,6,4550.180708,4550.150556,1,-0.030152
1185735,1,android,Netherlands,2342927,6,6070.594615,6070.586389,1,-0.008226
1213081,1,ios,United States,4458098,3,4895.135779,4895.128889,1,-0.006890
1234136,1,android,Germany,141909,6,5059.298570,5059.130278,1,-0.168292
1234605,1,android,United States,148139,6,4550.175545,4550.150556,1,-0.024990
1278728,1,android,Israel,2353219,6,3734.558230,3734.493889,1,-0.064341
1454085,1,android,United States,2630357,6,4322.721782,4322.674167,1,-0.047615
1464223,1,android,Germany,3831427,9,3257.500062,3257.482222,1,-0.017840
1581238,1,ios,Germany,1360139,3,6255.017831,6254.144444,1,-0.873386
1737799,1,android,Poland,137811,11,4029.156188,4029.151944,1,-0.004243